/* Import fonts and Icons */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Page resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, main, hgroup, menu, nav, section {
    display: block;
}
html, body{
    width: 100vw;
    height: 100vh;
    outline: none;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/* Page Stylesheet */
body {
    background-color: rgb(4, 18, 83);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: 100px auto 40px;
}
header {
    width: 100%;
    grid-area: header; 
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;       
}
header .logo {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0.8rem;
    background-size: contain;
    margin: .8rem;
    width: 200px;
    height: 100px;
    max-width: 200px;
}
header nav {    
    width: auto;
}
header nav ul {
    margin: 0.8rem 0;
    list-style-type: none;
}
header nav li{
    width: auto;
    float: left;
    margin: 1.2em .5em;
    color: #dbdbdb;
    font-size: 1rem;
    line-height: 1;    
    padding: 0.8rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
header nav li:hover, nav ul li.actived{
    color: #f0f0f0;
}
main {
    width: 100%;
    grid-area: main;
}
footer {
    width: 100%;
    grid-area: footer;
}
footer p {
    font-size: 0.9rem;
    color: #f0f0f0;
    text-align: center;
}
