/* Import fonts and Icons */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Standard colors */
:root {
    --silver: #f0f0f0;
    --cyan: #00fbff;
    --blue: #280065;

    --envelope: #c81700;
    --linkedin: #0a66c2;
    --instagram: #5b51d8;
    --github: #2c4762;

    --erro: #ff0000;
    --sucess: #008800;
}

/* Page resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, main, hgroup, menu, nav, section {
    display: block;
}
html, body{
    width: 100vw;
    height: 100vh;
    outline: none;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/* Page Stylesheet */
body {
    background: var(--blue);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: 100px auto 40px;
}
header {
    width: calc(100% - 4rem);
    grid-area: header; 
    display: grid;
    padding: 0.6rem 2rem;
    grid-template-columns: auto auto;
    justify-content: space-between;       
}
header .logo {
    background: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0.8rem;
    background-size: contain;
    width: 200px;
    height: 100px;
    max-width: 200px;
}
header nav {
    width: 100%;
    overflow: hidden;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav li {
    display: inline-block;
    margin: 1.2em 0.5em;
    color: var(--silver);
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1;
    padding: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

header nav li:hover,
header nav li.active {
    color: var(--cyan);
}
main {
    width: 100%;
    grid-area: main;
}
main section {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    padding: 2rem; 
    display: none;  
    text-align: center; 
    font-size: 100px; 
}
main .active{
    display: grid;  
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
main section article{
    padding: 1rem;
}
main section article img{
    width: 100%;
    max-width: fit-content;
}
main section article .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
    border-radius: 8px;
    outline: none;
}

main section article .fa:hover {
    opacity: 0.7;
}

main section article .download {
    width: 120px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    padding: 12px 14px 10px 0;
    border-radius: 8px;
    outline: none;
    background: var(--sucess);
    color: var(--silver);
}

main section article .fa-file-pdf-o {
    padding: 10px 0 10px 10px;
    color: var(--silver);
}

main section article .fa-envelope {
    background: var(--envelope);
    color: var(--silver);
}

main section article .fa-linkedin {
    background: var(--linkedin);
    color: var(--silver);
}

main section article .fa-instagram {
    background: var(--instagram);
    color: var(--silver);
}

main section article .fa-github {
    background: var(--github);
    color: var(--silver);
}

main section article h1 {
    font-size: 58px;
    line-height: 62px;
    color: var(--silver);
    text-align: left;
    margin: 1rem 0 0;
}
main section article h2 {
    font-size: 42px;
    color: var(--silver);
    text-align: left;
}
main section article h3 {
    font-size: 32px;
    line-height: 58px;
    color: var(--silver);
    text-align: left;
    text-transform: capitalize;
}
main section article hr{
    font-size: 1rem;
    color: var(--silver);
    border: none;
    margin: 1.4rem 0;
    padding: 0.1rem 0;
}
main section article p{
    font-size: 22px;
    line-height: 28px;
    color: var(--silver);
    text-align: justify;
}
main section article span {
    font-weight: 600;
    color: var(--cyan);
}
footer {
    width: 100%;
    grid-area: footer;
}
footer p {
    font-size: 0.9rem;
    color: var(--silver);
    text-align: center;
}

@media (max-width: 480px) {
    body {
        grid-template-areas: 'header' 'main' 'footer';
        grid-template-rows: 140px auto 40px;
    }
    header {
        width: calc(100% - 0.4rem);
        padding: 0.6rem 0.2rem;
        grid-template-columns: none;
        grid-template-rows: 100px 40px;
        justify-content: center;       
    }
    header .logo {
        background-position: center 0;
        background-size: contain;
        width: auto;
        max-width: 100%;
    }
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav li {
        margin: 0.5em;
    }
    main section {
        width: calc(100% - 0.4rem);
        height: calc(100% - 1.2rem);
        padding: 0.6rem 0.2rem; 
    }
    main .active{
        display: grid;  
        grid-template-columns: 100%;
        justify-content: space-between;
    }
}